<div class="contatiner">
	<div class="new_event">
    <div class="col s12 m5">
      <div class="card-panel devise-login">
        <div class="card devise-card">
      		<h1>Editing Your Event</h1>
      		<%= render 'form', event: @event %>
      		<%= link_to 'Show', @event %> |
      		<%= link_to 'Home', events_path %>
        </div>
      </div>
    </div>
	</div>
</div>


