<div class="container">
	<div class="new_event">
    <div class="col s12 m5">
      <div class="card-panel">
        <div class="card devise-card">
		      <h1>New Event</h1>
          <div class="form-fields">
            Please fill out the form below to request a slot on the Bottega events calendar. Your request will be reviewed by the administrator and if approved, it will be posted on the calendar. 
          </div>
			       <%= render 'form', event: @event %>
        </div>
      </div>
    </div>
	</div>
</div>
