 @import 'bootstrap';

 body {
   background-color: #f7f7f7;
   font-family: 'Roboto', sans-serif;
   font-size: 16pt;
   color: rgb(110, 110, 110);
   margin-top: 80px;
 }

 h1 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 38pt;
 }

 h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 22pt;
 }

 h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18pt;
 }

 p {
   font-size: 12pt;
   padding: 0px;
   margin: 0px;
 }

 .card {
  border-radius: 7px;
 }

 .no-gutters {
  margin-right: 0;
  margin-left: 0;

  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

//========== Navigation ===========

.nav-masthead {
   background-color: white;
   padding-left: 20px;
   height: 75px;
   padding-bottom: 5px;
   border-bottom: 1px solid #e0e0e0;
}

.nav-masthead a{
  padding-left: 20px;
}

.body {
  min-height: 100%;
  margin-top: 30px;
}

.devcamp-logo {
  padding-top: 10px;
  width: 122.75px;
  height: 60px;
}

.nav-styling {
  justify-content: center;
  line-height: 30px;
}

.nav-links {
  align-items: center;
  display: flex;
  font-size: 18px;
  padding: 25px 100px 25px 40px;
}

.nav-links a {
  color: #b7b7b7;
}

.nav-links a:hover {
  color: #00cb76;
  text-decoration: none;
}

.indiv-nav-links {
  padding-left: 40px;
}

//========== Events ===========

.card-heading {
  color: rgb(110, 110, 110);
  font-size: 20px;
}

.card-heading:hover {
  text-decoration: none;
  color: rgb(73, 73, 73);
}

.card hr {
  margin: 0px;
  margin-bottom: 10px;
}

.card-custom {
  width: 530px;
  padding: 10px;
  margin: 10px;
  // height: 120px;
  font-size: 10pt;
}

.content-center {
  margin-left: 40px;
}

.thumb-image {

  width: 100px;
  height: 100px;

}

.thumb-image-trim {
  max-width: 100px;
  overflow: hidden;
}

.btn-success {
  background-color: #3AE39F;
  border: none;
}

.btn-success:hover {
  background-color: #00cb79;
}

.btn-secondary {
  background-color: #e0e0e0;
  border: none;
}

.btn-secondary:hover {
  background-color: #d3d3d3;
}

.btn-custom {
  width: 35px;
  height: 32px;
  margin: 8px;
  padding: 0px;
  padding-top: 5px;
}


.card-main {
  padding: 15px;
  background-color: rgb(243, 243, 243);
}

//========== Footer ===========

.footer { 
  fixed-height: 60px;
  border-top: 1px solid #e0e0e0;
  background-color: white;
  margin-top: 120px;
}

.footer-left {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: 18px;  
}


.footer-left-link a {
  color: #3ae39f;
  text-decoration: none;
}

.footer-left-link a:link {
  color: #3ae39f;
  text-decoration: none;
}

.footer-left-link a:visited {
  color: #3ae39f;
  text-decoration: none;
}

.footer-left-link a:active {
  color: #3ae39f;
  text-decoration: none;
}

.footer-left-link {
  font-weight: bold;
  color: #3ae39f;
  text-decoration: none;
}

.footer-left-link a:hover {
  color: #3ae39f;
  text-decoration: none;
}

.footer-button {
  background-color: #3ae39f;
  color: white;
  height: 60px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
}

.footer-button a {
  color: white;
}

.footer-button a:link {
  color: white;
  text-decoration: none;
}

.footer-button a:hover{
  color: white;
}

.footer-button a:visited {
  color: white;
}

.footer-button a:active {
  color: white;
}

//========== Devise ===========

.devise-card {
  padding: 40px;
}

.devise-signup {
  padding-top: 15%;
  padding-bottom: 15%
}

.devise-edit {
  padding-top: 15%;
  padding-bottom: 15%
}

.devise-login {
  padding-top: 15%;
  padding-bottom: 15%

}

html,body{
  height: 100%
}

#holder{
  min-height: 100%;
  position:relative;
}

footer{
  height: 60px; 
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

// ============== Show Page ===============
  
.sub-nav a {
  font-family: 'Montserrat';
  font-size: 13px;
  color: rgb(110, 110, 110);
}

.sub-nav a:hover {
  text-decoration: none;
  color: #00cb79;
}

.event-map {
  height: 100%;
}

.event-image {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
}

div.main-image-trim {
  max-height: 600px;
  overflow: hidden;
}

#map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-row {
  height: 400px;
}

.row-element {
  padding: 15px;
}